@{
    ViewBag.Title = "Home Page";
}

<section class="slider-area" id="home">
    <div class="blue animated fadeInLeftBig delay-1s "></div>
    <div class="red"></div>
    <div class="animated fadeInRightBig delay-1s green  "></div>
    <div class="container">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="slider-inner text-center">
                    <h2 class="animated zoomIn delay-1s mbrh2">My Education - My Future</h2>
                    <button class="btna"><a class="btncontact" href="#contact">Contact</a></button>

                </div>
            </div>
        </div>
    </div>
</section>

<section id="aboutus" class="about-area ptb--100">
    <div class="container">
        <div class="section-title">
            <h2>About Us</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 hidden-xs">
                <div class="about-left-img" style="text-align: center">
                    <h3 style="color: #232323; font-weight:500; padding-top: 10px">My Education - My Future</h3>
                    <img src="public/img/icon/prjlogo.png" alt="image">

                    <br />
                    <br />
                    <h3 style="color: #232323; font-weight:500; padding-top: 10px">Main Sponsor</h3>
                    <img style="padding-left: 110px" src="~/public/img/logosbeneficaireserasmusright_en.jpg" alt="image" />


                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 d-flex flex-center">
                <div class="about-content">
                    <p>
                        “My Education - My Future” long-term fellowship project seeks to empower participants who can discuss
                        and find ways for successful integration of disabled at universities, develop strategies and abilities to
                        cope with problems at university life among the young people from EU and EaP countries and to develop the
                        competence of youth groups to incorporate the abilities and knowledge of disabled students in their
                        activities. We are striving to achieve objectives of the project:
                    </p>
                    <ol>
                        <li>
                            <p> To look for better ways for inclusion of disabled university students.</p>
                        </li>
                        <li>
                            <p>
                                To gather information and experience from different countries.
                            </p>
                        </li>
                        <li>
                            <p>
                                To form a data bank or a network that will be a reference for student facing discrimination because
                                of their disability so that they can more clearly express their needs.
                            </p>
                        </li>
                        <li>
                            <p>
                                To discuss and gather practical methods for inclusion of disabled people in higher education and
                                other fields of life.
                            </p>
                        </li>
                        <li>
                            <p>
                                To inform young people and youth organisations about the “Erasmus+” projects and possibilities that
                                are given by it.
                            </p>
                        </li>
                        <li>
                            <p>
                                To empower disabled students in their activities towards better inclusion in higher education and
                                stimulate their civil rights.
                            </p>
                        </li>
                        <li>
                            <p>
                                To disseminate the project and the topic among university students and communities by active campaign
                                and organizations exhibition. To analyze official legislation for disabled people in each EaP country
                                on practical and political level.
                            </p>
                        </li>
                    </ol>
                    <p>
                        Project will result in creating future international and domestic projects within the Erasmus+ Program
                        framework, in particular youth exchanges, training courses, study visits, seminars, job shadowing scheme
                        on
                        the topic of disability. These projects will take place in local communities of participating countries,
                        therefore impacting them. The project will also create the multiplying effect, participants will use the
                        knowledge and experiences from project in their future work in their local communities: local
                        universities,
                        communities.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="screen-area bg-gray ptb--100" id="screenshot">
    <div class="container">
        <div class="section-title">
            <h2>Partners</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="single-screen ic">
                    <img src="~/public/img/changelog.jpg" height="200" alt="mobile screen">
                </div>
                <h4 style="padding-top: 20px">
                    ChangeLog Foundation
                </h4>
                <p style="text-align: justify; margin: 30px 0">
                    ChangeLog Foundation aims at providing service and consulting on equal opportunities by involving persons
                    with learning disabilities as experts on disability issues. Four persons with learning disabilities are
                    trained experts on equal opportunities, barrier-free environments, evaluation and quality assurance and are
                    employed to provide service and consulting. After having completed two years of training on equal
                    opportunity and disability issues they conduct accessibility checks according to the Austrian norms on
                    accessibility, they give awareness raising workshops on the different forms of disabilities, they hold peer
                    workshops on the UN Convention on the Rights of Persons with Disabilities (UNCRPD). In most cases they work
                    in a tandem together with a trainer without learning disabilities.
                </p>
            </div>
            <div class="col-md-6">
                <div class="single-screen ic">
                    <img src="~/public/img/icon/prjlogo.png" height="200" alt="mobile screen">
                </div>
                <h4 style="padding-top: 20px">«TEBIB» TIBBI MAARIFLƏNDIRMƏ ICTIMAI BIRLIYI</h4>
                <p style="text-align: justify; margin: 30px 0">
                    The objectives of the organization

                    To sensitize the population on issues of health care and disability, being active in many promotional
                    activities and projects in the field of physical rehabilitation.

                    Informing students and the community about disability.

                    Develop new policies in place initiatives and individual and group arrangements in the context of promoting
                    the branches.

                    Realizing the important awareness activities, educational, and professional training.

                    Promotion of volunteer work for the needy categories.

                    The organization of workshops, seminars, international conferences and congresses, intercultural exchanges
                    with universities within and outside the state.

                    Establishing cooperation with hospitals, clinics, physiotherapy, primary health centers, rehabilitation
                    centers, the National Center of Education in continuity, other medical associations similar, state and
                    private universities who studied for physiotherapy, speech therapy and specialized social pedagogy
                </p>
            </div>
            <div class="col-md-6">
                <div class="single-screen ic">
                    <img src="~/public/img/INTERNATIONAL EDUCATION CENTRE GEMS.jpg" height="200" alt="mobile screen">
                </div>
                <h4 style="padding-top: 20px">
                    INTERNATIONAL EDUCATION CENTRE GEMS
                </h4>
                <p style="text-align: justify; margin-top: 30px;">
                    The association is voluntary non-profit organization, operating within the territory of the Czech Republic
                    and in other countries with a legal entity under Czech law. The organization is open to all individuals and
                    institutions, regardless of political, social, religious or other orientation.

                    BASIC AIMS OF THE ASSOCIATION:

                    <ol style=" margin: 10px 0 30px 0; text-align: justify;">
                        <li>
                <p style="text-align: justify;">To support international cooperation and intercultural understanding</p>
                </li>

                <li>
                    <p style="text-align: justify;">
                        To support international cooperation and intercultural understanding
                    </p>
                </li>
                <li>
                    <p style="text-align: justify;">
                        To promote lifelong learning opportunities and to help the development of individual interests and
                        positive life attitudes
                    </p>

                </li>
                <li>
                    <p style="text-align: justify;">
                        To support prevention of risky behaviour mainly for children and youth
                    </p>
                </li>
                <li>


                    <p style="text-align: justify;">
                        To strength an international cooperation in order to share knowledge, ideas and experience to
                        better
                        develop activities
                    </p>

                </li>
                <li>
                    <p style="text-align: justify;">
                        To create same opportunities, employment and fight social exclusion
                    </p>
                </li>
                <li>
                    <p style="text-align: justify;">
                        To support rural development and healthy lifestyle
                    </p>
                </li>
                <li>
                    <p style="text-align: justify;">
                        To contribute to sustainable development
                    </p>
                </li>
                <li>
                    <p style="text-align: justify;">
                        To involve local community and support voluntary service in general
                    </p>
                </li>
                </ol>

                </p>
            </div>
            <div class="col-md-6">
                <div class="single-screen ic">
                    <img src="~/public/img/28951300_217802032297683_8983111089575165952_n.jpg" height="200" alt="mobile screen">
                </div>
                <h4 style="padding-top: 20px">
                    ASOCIACION CULTURAL PROXIMA Educacion
                </h4>
                <p style="text-align: justify; margin: 30px 0">
                    Proxima educacion is a Spanish organization involved in Erasmus programmes that promotes the personal and social development of individuals at exclusion risk by the support of incentives from the European Union Mission Educational training for adults; young people; research; intercultural cooperation;

                    Within these settings, the Proxima offers trainings and continuing education for employees of social institutions. The two main areas are the work with old people and care for aged people and the special education, rehabilitation and participation. Further areas are children and youth services, management, rights, social services and volunteering.
                </p>
            </div>
            <div class="col-md-6">
                <div class="single-screen ic">
                    <img src="~/public/img/Nefeli Education UK.png" height="200" alt="mobile screen">
                </div>
                <h4 style="padding-top: 20px">
                    NEFELI EDUCATION CIC UK
                </h4>
                <p style="text-align: justify; margin: 30px 0">
                    NEFELIEDUCATIONCIC is an educational organization born with idea to empower civil society to get a better future looking beyond the national borders. Our Trainers and International experts provide a comprehensive service covering all educational needs of our members. Our members get trainings and education thought the high competencies of our internal staff. We combine formal and no formal education using innovative methods and new teaching methodologies. Main aim is to increase the participants’ performance in self-job coaching and personal skills improvement. We try to help everyone to find its own talent professional staff follows the educational process of the training's participants since the beginning to the end of the training session. We organize meetings for different target groups, with people from different backgrounds. The aim is to enlarge points of view and to share information, fears, project proposals.

                    Nefeli staff has long successful experience in International trainings management and organisation. This skills and competences come from almost 10 years of Life Long Learning projects management. Our staff is expert in Grundtvig, Leonardo, Comenius and Interreg projecting procedures. All the trainers have been project managers in several Project funded by European Commission and can give assistance and consulting to each person who want to apply for European Funds. We cooperate with many institutions in Europe in Leonardo da Vinci Program VETPRO PLM, Grundtvig partnership Projects, Comenius Partnership Projects, Civil society dialogue between Turkey and Europe Projects, Interreg small fund, Erasmus+ projects.
                </p>
            </div>
            <div class="col-md-6">
                <div class="single-screen ic">
                    <img src="~/public/img/The Association of Life-Long Learning and Enlightenment.jpg" width="300" height="180"
                         alt="mobile screen">
                </div>
                <h4 style="padding-top: 20px">
                    The Association of Life-Long Learning and Enlightenment
                </h4>
                <p style="text-align: justify; margin: 30px 0">
                    The Association of Life-Long Learning and Enlightenment is a non-commercial association, uniting 13 educational organizations and establishments of Belarus.

                    Association`s activity is aimed at coordination of development of the additional and non-formal education and enlightenment in Belarus.

                    The Association of Life-Long Learning and Enlightenment was registered on 4th February, 2011. Its member-organizations have been cooperating in this field for more than 10 years, implementing different educational projects, activities and events applying the non-formal educational approach.

                    To contribute to sustainable development

                    To involve local community and support voluntary service in general
                </p>
            </div>
        </div>
    </div>
</section>



<section class="contact-area ptb--100" id="contact">
    <div class="container">
        <div class="section-title">
            <h2>Contact Us</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="contact-form">
                    <form action="@Url.Action("SendEmail")">
                        <input type="text" name="name" placeholder="Enter Your Name">
                        <input type="text" name="email" placeholder="Enter Your Email">
                        <textarea name="msg" id="msg" placeholder="Your Message "></textarea>
                        <input type="submit" value="Send" id="send">
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="contact_info">
                    <div class="s-info">
                        <i class="fa fa-map-marker"></i>
                        <div class="meta-content">
                            <span>
                                TEBIB TIBBI MAARIFLENDIRME ICTIMAI BIRLIYI,
                                SABAIL RAYONU, BADAMDAR QESEBESI, 2-CI YASAYIS MAS
                            </span>
                            <span>
                                1021,
                                BAKU,
                                Azerbaijan
                            </span>
                        </div>
                    </div>
                    <div class="s-info">
                        <i style="padding-left: 4px; font-size: 26px;" class="fa fa-mobile"></i>
                        <div class="meta-content">
                            <span>+994 77 5338960</span>

                        </div>
                    </div>
                    <div class="s-info">
                        <i class="fa fa-paper-plane"></i>
                        <div class="meta-content">
                            <span>Tabib.baku@gmail.com</span>
                        </div>
                    </div>
                    <div class="c-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section JS{
    <script src="~/public/js/jquery-3.2.0.min.js"></script>
    <script src="~/public/js/jquery-ui.js"></script>
    <script src="~/public/js/bootstrap.min.js"></script>
    <script src="~/public/js/jquery.slicknav.min.js"></script>
    <script src="~/public/js/owl.carousel.min.js"></script>
    <script src="~/public/js/magnific-popup.min.js"></script>
    <script src="~/public/js/counterup.js"></script>
    <script src="~/public/js/jquery.waypoints.min.js"></script>
    <script src="~/public/js/jquery.mb.YTPlayer.min.js"></script>
    <script src="~/public/js/theme.js"></script>
}